<p>Go Back To <%=  link_to 'Users', super_admin_users_path %></p>

<p>Name: <%= @user.name %></p>
	<p>Email: <%= @user.email %></p>
	<p>Companies</p>
	<% @user.companies.each do |company| %>
		<p> <%= company.name %></p>
	<% end %>