<%=  link_to 'Create Company', new_super_admin_company_path %>

<% @companies.each do |company| %>
<p>Name: <%= company.name %></p>
<p>Users</p>
<% company.users.each do |user| %>
	<%= user.name %>
<% end %>
<% end %>
